.card-title {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

.card {
    border-radius: 12px;
}

.p-tb {
    padding: 10px;
    overflow: visible;
    overflow-x: hidden;
}

.cd-ht-bg {
    overflow: visible;
    overflow-x: hidden;
    padding: 5px;
    background-color: #dddcdc;
}